@tailwind base;
@tailwind components;
@tailwind utilities;

.completed{
    color: gray;
}

li:hover {
    cursor: pointer;
}


input[type='text'] {
    padding-left: 5px;
}

.fa-trash-can {
    color: white;
}